# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/
ffmpeg/
railway/ 
*.o
*.exe
*.deb
*.sqlite-*
*.sqlite
docs/canvaskit
*/canvaskit
ephemeral/
/build/
generate_general_private_tools_*
node_modules/
flutter/ephemeral
android/.gradle
android/flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/ephemeral
tmp/
temp/
packagex-build-debug
packagex-compile-debug