flutter/ephemeral
*.exe
*.deb
*.sqlite-*
*.sqlite
docs/canvaskit
*/canvaskit
.dart_tool/
build/
ephemeral/
/build/
generate_general_private_tools_*
node_modules/
android/.gradle
android/flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/ephemeral
tmp/
temp/
packagex-build-debug
packagex-compile-debug